[Desktop Entry]
Comment[ru_RU]=
Comment=
Exec=bib=$(doi2bib $(xclip -selection clipboard -o)); echo 'import pyperclip;pyperclip.copy("""'"$bib"'""")' | python3
GenericName[ru_RU]=DOI to BibTeX item
GenericName=DOI to BibTeX item
Icon=system-run
MimeType=
Name[ru_RU]=doi2bib
Name=doi2bib
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
