[Desktop Entry]
Comment[ru_RU]=
Comment=
Exec=cd $(xclip -selection clipboard -o); git add *; git commit -a -m "-"; git push origin master;
GenericName[ru_RU]=Git commit and push
GenericName=Git commit and push
Icon=system-run
MimeType=
Name[ru_RU]=git-commit
Name=git-commit
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
